.black {
  color: $black;
  &--bg {
    background-color: $black;
  }
}
.orange {
  color: $orange;
  &--bg {
    background-color: $orange;
  }
}
.red {
  color: $red;
  &--bg {
    background-color: $red;
  }
}
.green {
  color: $green;
  &--bg {
    background-color: $green;
  }
}
.white {
  color: $white;
  &--bg {
    background-color: $white;
  }
}
.grey-dark {
  color: $grey-dark;
  &--bg {
    background-color: $grey-dark;
  }
}
.opacity-50 {
  opacity: 0.5;
}
.fz-20 {
  font-size: 20px;
}