.black {
  color: $black !important;
  &--bg {
    background-color: $black;
  }
}
.orange {
  color: $orange !important;
  &--bg {
    background-color: $orange;
  }
}
.red {
  color: $red;
  &--bg {
    background-color: $red;
  }
}
.green {
  color: $green;
  &--bg {
    background-color: $green;
  }
}
.white {
  color: $white;
  &--bg {
    background-color: $white;
  }
}
.grey-dark {
  color: $grey-dark;
  &--bg {
    background-color: $grey-dark;
  }
}
.opacity-50 {
  opacity: 0.5;
}
.fz-20 {
  font-size: 20px;
}
.fz-14 {
  font-size: 14px;
}
.fw-500 {
  font-weight: 500;
}
.fw-400 {
  font-weight: 400;
}
.w-100 {
  width: 100%;
}

.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-330 {
  margin-top: 330px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-30 {
  margin-right: 30px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-30 {
  margin-left: 30px;
}
.mb-110 {
  margin-bottom: 110px;
}
.mb-15 {
  margin-bottom: 15px;
}
.pa-20 {
  padding: 20px;
}
.ma-0 {
  margin: 0 !important;
}

.text-center {
  text-align: center;
}
