@mixin reset-link {
  text-decoration: none;
  &:link,
  &:visited {
    color: inherit;
  }
}

@mixin montserrat {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
}

@mixin click {
  &:hover {
    transform: translateY(-2px);
    box-shadow: $box-shadow;
  }
  &:active {
    transform: translateY(0);
    box-shadow: none;
  } 
}

@mixin reset-button {
  background-color: $white;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}