/* COLORS */
$white: #fff;
$black:#11171D;
$orange: #ED9F43;
$red: #B31B11;
$green: #48B190;
$grey: #E7E8E8;
$grey-light: #F6F6F6;
$grey-dark: rgba(17, 23, 29, 0.5);

$border-radius: 6px;
$box-shadow: 0px 16px 23px rgba(67, 78, 74, 0.09), 0px 8px 9px rgba(67, 78, 74, 0.07);
$interaction-transition: all 0.1s ease-in-out;