<p> Hi, dear {{ to }}. We are very glad that you continue to use LocalUSDT! </p>
<p> Someone posted a message in a invoice you are a party to! </p>
<p> Please follow  <a href="{{ link }}"> this </a> link to read the message. </p>
<p> If the link doesn't work, please copy and follow the link below using the address bar. </p>
<p> <a href="{{ link }}"> <i> {{ link }} </i> </a> </p>
<p> Sincerely, </p>
<p> LocalUSDT.com team </p>
<hr>
<p> <i> This is an automatic mailing process, please, do not reply to this letter. </i> </p>