<p> Добрый день, уважаемый {{ to }}. Мы очень рады, что вы продолжаете пользоваться LocalUSDT! </p>
<p> Покупатель отправил деньги. Убедитесь, что Вы получили деньги и отправьте ему токены. </p>
<p> После нажатия кнопки "Отправить токены", операция не может быть отменена. </p>
<p> Перейдите по этой ссылке для того, чтобы продолжить сделку в LocalUSDT </p>
<p> Если ссылка не работает, скопируйте и перейдите по ссылке ниже, используя адресную строку. </p>
<p> <a href="{{ link }}"> <i> {{ link }} </i> </a> </p>
<p> До встречи! </p>
<hr>
<p> <i> Это автоматическая рассылка писем, пожалуйста, не отвечайте на это письмо. </i> </p>