<p> Hi, {{ to }}. Thank you for using LocalUSDT! </p>
<p> The buyer notified that he has paid. You need to send him USDT tokens. </p>
<p> Please follow this <a href="{{ link }}"> link </a> to close the deal on LocalUSDT.com </p>
<p> If your browser does not open it, please copy and paste it in your browser address bar. </p>
<p> <a href="{{ link }}"> <i> {{ link }} </i> </a> </p>
<p> Sincerely, </p>
<p> LocalUSDT.com team </p>
<hr>
<p> <i> This is an automatic mailing process, please, do not reply to this letter. </i> </p>
