<p> Hi, {{ to }}. Thank you for using LocalUSDT.com! </p>
<p> In order to recover the password on your account, you need to follow a couple of steps. </p>
<p> Follow <a href="{{ link }}"> this </a> link for password recovery in LocalUSDT. </p>
<p> If the link doesn't work, please copy and follow the link below using the address bar. </p>
<p> <a href="{{ link }}"> <i> {{ link }} </i> </a> </p>
<p> Sincerely, </p>
<p> LocalUSDT.com team </p>
<hr>
<p> <i> This is an automatic mailing process, please, do not reply to this letter. </i> </p>
