<p> Hi, {{ to }}! </p>
<p> We are very glad that you have decided to register in our service. </p>
<p> Follow the steps below to complete registration. </p>
<p> Follow <a href="{{ link }}"> this </a> link to register with LocalUSDT. </p>
<p> If the link doesn't work, copy and follow the link below using the address bar. </p>
<p> <a href="{{ link }}"> <i> {{ link }} </i> </a> </p>
<p> Hope you enjoy! </p>
<p> Sincerely, </p>
<p> LocalUSDT.com team </p>
<hr>
<p> <i> This is an automatic mailing process, please, do not reply to this letter. </i> </p>
