<p> Добрый день, {{ to }}! </p>
<p> Мы очень рады, что вы решили зарегистрироваться в нашем сервисе. </p>
<p> Для завершения регистрации проследуйте по этапам, которые находятся ниже.</p>
<p> Перейдите по <a href="{{ link }}">этой</a> ссылке для регистрации в LocalUSDT </p>
<p> Если ссылка не работает, скопируйте и перейдите по ссылке ниже, используя адресную строку </p>
<p> <a href="{{ link }}"> <i> {{ link }} </i> </a> </p>
<p> Надеемся вам понравится! До встречи! </p>
<hr>
<p> <i> Это автоматическая рассылка писем, пожалуйста, не отвечайте на это письмо. </i> </p>
